body
{
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


#cabecera
{
    background: rgb(36, 23, 70);
    color: white;
    box-shadow: 5px 5px 10px 
    0px rgba(0,0,0,0.75);
    font-weight: normal;
    margin: 10;
    padding: 0.5em 0 0.5em 2em;
}

#cabecera #logo
{
    width: 40px;
    vertical-align: middle;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    font-size: 18px;
    border: 1px solid #dddddd;
    margin:  0 auto;

}

#container h1
{
    font-size: 20px;
    
}

#cabecera #tagline
{
    font-weight: normal;
    font-size: 0.8em;
    padding: 0 0 0 1em;
}

#post
{
    background: white ;
    padding: 1em;
}

#footer
{
    background: #2F1862;
    color: white;
    text-align: center;
    padding: 0.7em;
}